body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

header {
  background-image: linear-gradient(to right, rgb(238, 169, 253), rgb(255, 0, 0), rgb(255, 42, 184));
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.289), 0 6px 20px 0 rgba(0, 0, 0, 0.317);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-height: 150px;
  margin: 0;
  padding: 0;
}

#search-form {
  display: flex;
  align-items: center;
}

#search-input {
  width: 410px;
  height: 35px;
  border: none;
  margin: 0;
  padding: 8px;
}

.buscarBoton {
  border: none;
  width: 41px;
  height: 35px;
  margin: 0;
  padding: 8px;
  background-color: rgb(232, 232, 232);
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-right: 20px;

}

nav ul li a {
  text-decoration: none;
  color: white;
}


.integrantes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: white;
  background-image: linear-gradient(to right,rgb(238, 169, 253), rgb(255, 0, 0), rgb(255, 42, 184));
}

section ul img {
  width: 150px;
  height: 150px;
}

nav {
  margin-right: 40px;
}

.inicio {
  font-family: 'PT Sans', sans-serif;
}


h1,
h2 {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #fbc0e1;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 2vw;
}

section ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

section ul li {
  list-style: none;
  width: 18vw;
}

section ul li a {
  text-decoration: none;
  color: black;
}

section ul li a:hover {
  text-decoration: none;
  color: black;
}

section ul li a img {
  width: 17vw;
  height: 17vw;
}

section ul li a p {
  text-align: center;
}

.truncate {
  white-space: nowrap;
  /* Impede que o texto seja quebrado em várias linhas */
  overflow: hidden;
  /* Oculta o texto que ultrapassa o contêiner */
  text-overflow: ellipsis;
  /* Adiciona reticências (...) para indicar que o texto foi truncado */
}

.contenedor-generos li img {
  width: 160px;
  height: 160px;
  margin: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.289), 0 6px 20px 0 rgba(0, 0, 0, 0.317);
  border-radius: 100px;

}

.generoTitulo {
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
  margin: 0;
  text-align: center;

}

.contenedor-generos li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: flex-start;
  margin: 20px;
  padding: 20px;

}

.contenedor-generos h3 {
  background-image: linear-gradient(rgba(255, 0, 0, 0.852), rgba(255, 42, 184, 0.844));
  padding: 8px;
}

.generosMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  background-color: rgb(250, 250, 250);
  font-family: 'PT Sans', sans-serif;
  margin: 20px;
}

.generosMain h1 {
  text-align: center;
  padding: 40px;
  font-size: 40px;
}


.contenedor-generos ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}


.generoArtistas {
  list-style-type: none;
}

.nombreArtistaGenero a {
  text-decoration: none;
  color: rgb(0, 0, 0);

}


.detalleArtista {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-self: center;
  border-radius: 2px;
  width: 700px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(255, 0, 123, 0.694), 0 6px 20px 0 rgba(255, 0, 89, 0.758);
  background-color: white;
  margin-top: 40px;
  margin-bottom: 40px;

}

.fotoArtistaGenero {
  border-radius: 50%;
}

.fotoArtista {
  margin-bottom: 20px;
}

.artistaDetalleLista {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.artistaDetalleLista li,
.topAlbumnes p {
  font-family: 'PT Sans', sans-serif;
  text-decoration: none;
  margin: 0;
}

.topAlbumnes p {
  font-family: 'Poppins', sans-serif;
  font-size: 23px;
  color: black;

}

.artistaDetalleLista li a {
  color: black;
  font-size: 18px;
}

a {
  text-decoration: none;
}


.detalleGeneroMain h1,
.detalleArtistaMain h1 {
  text-align: center;
  font-size: 25px;
  padding-top: 50px;
  margin-bottom: 0;
  color: rgb(0, 0, 0);

}

.generoDetalleNombre {
  text-align: center;
  font-size: 38px;
  margin-top: 0;
}

.generoArtistas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

}


.generoArtistas li {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 15vw;
  height: 30vh;
  border-radius: 2px;
  background-color: white;
  font-family: 'PT Sans', sans-serif;
  box-shadow: 0 4px 8px 0 rgba(255, 0, 123, 0.289), 0 6px 20px 0 rgba(255, 0, 89, 0.317);


}

.topAlbumnes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  margin-top: 55px;
  padding-top: 30px;
}

.nombreArtista {
  font-size: 35px;
}

