body {
    margin: 0;
    padding: 0;
  }

  header {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 0;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    max-height: 150px;
    margin: 0;
    padding: 0;
  }

  #search-form {
    display: flex;
    align-items: center;
  }

  #search-input {
    margin-right: 5px;
    width: 400px;
    height: 20px;
  }

  nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  nav ul li {
    margin-right: 20px;

  }

  nav ul li a {
    text-decoration: none;
    color: #333;
  }

  
  .integrantes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 50px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 25px;
  }

  