body {
    margin: 0;
    padding: 0;
}
* {
  box-sizing: border-box; 
}

  header {
    background-image: linear-gradient(to right, rgb(255, 172, 182) , rgb(255, 0, 0), rgb(255, 42, 184));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    max-height: 150px;
    margin: 0;
    padding: 0;
  }
 
  #search-form {
    display: flex;
    align-items: center;
  }
  
  #search-input {
    width: 410px;
    height: 35px;
    border: none;
    margin: 0;
    padding: 8px;
  }
 
 .buscarBoton {
  border: none;
  width: 41px;
  height: 35px;
  margin: 0;
  padding: 8px;
  background-color: rgb(232, 232, 232);
 }
  nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  nav ul li {
    margin-right: 20px;

  }

  nav ul li a {
    text-decoration: none;
    color: white;
  }

  
  .integrantes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: white;
    background-image: linear-gradient(to right, rgb(255, 172, 182) , rgb(255, 0, 0), rgb(255, 42, 184));
  }

  section ul img {
    width: 150px;
    height: 150px;
}
nav {
  margin-right: 40px;
}

.inicio {
  font-family: 'PT Sans', sans-serif;
}
.generosMain {
  font-family: 'PT Sans', sans-serif;
  margin: 20px;
}

.contenedor-generos ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}
.generoTitulo {
  margin-right: 30px;
}
.contenedor-generos li {
  display: flex;
  flex-wrap: wrap;
  
}

h1 {
  font-family: 'Poppins', sans-serif;
}

