* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fbc0e1;
}

a {
  text-decoration: none;
}

/* HEADER */
header {
  background-image: linear-gradient(to right, rgb(238, 169, 253), rgb(255, 0, 0), rgb(255, 42, 184));
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.289), 0 6px 20px 0 rgba(0, 0, 0, 0.317);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-height: 150px;
  margin: 0;
  padding: 0;
}

#search-form {
  display: flex;
  align-items: center;
}

#search-input {
  width: 410px;
  height: 35px;
  border: none;
  margin: 0;
  padding: 8px;
}

.buscarBoton {
  border: none;
  width: 41px;
  height: 35px;
  margin: 0;
  padding: 8px;
  background-color: rgb(232, 232, 232);
}

nav {
  margin-right: 40px;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-right: 20px;

}

nav ul li a {
  text-decoration: none;
  color: white;
}

/* FOOTER */
.integrantes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: white;
  background-image: linear-gradient(to right, rgb(238, 169, 253), rgb(255, 0, 0), rgb(255, 42, 184));
}

/* INDEX  */
section ul img {
  width: 150px;
  height: 150px;
}

.inicio h1 {
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
}

main section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: 'PT Sans', sans-serif;
  background-color: white;
  margin: 2vw;
}

section ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

section ul li {
  list-style: none;
  width: 18vw;
  margin: 4px;
}

section ul li a {
  text-decoration: none;
  color: black;
}

section ul li a img {
  width: 17vw;
  height: 17vw;
}

/* PAGINA GENEROS,  DETALLES GENERO, DETALLES ARTISTAS , DETALLES ALBUM Y DETALLES CANCIONES  */

.generosMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  background-color: rgb(250, 250, 250);
  margin: 20px;
}

.generosMain h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  text-align: center;
  padding: 40px;
}

.contenedor-generos h3 {
  font-family: 'PT Sans', sans-serif;
  background-image: linear-gradient(rgba(255, 0, 0, 0.852), rgba(255, 42, 184, 0.844));
  padding: 8px;
}

.generoTitulo {
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
  text-align: center;
  margin: 0;
}

.contenedor-generos ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.contenedor-generos li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: flex-start;
  margin: 20px;
  padding: 20px;
}

.contenedor-generos li img {
  width: 160px;
  height: 160px;
  margin: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.289), 0 6px 20px 0 rgba(0, 0, 0, 0.317);
  border-radius: 100px;
}

.generoArtistas {
  list-style-type: none;
}

.nombreArtistaGenero a {
  text-decoration: none;
  color: rgb(0, 0, 0);

}

.detalleArtista {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-self: center;
  border-radius: 2px;
  width: 700px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(255, 0, 123, 0.694), 0 6px 20px 0 rgba(255, 0, 89, 0.758);
  background-color: white;
  margin-top: 40px;
  margin-bottom: 40px;

}

.fotoArtistaGenero {
  border-radius: 50%;
}

.fotoArtista {
  margin-bottom: 20px;
}

.artistaDetalleLista {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.artistaDetalleLista li,
.topAlbumnes p {
  font-family: 'PT Sans', sans-serif;
  margin: 0;
}

.topAlbumnes p {
  font-family: 'Poppins', sans-serif;
  font-size: 23px;
  color: black;

}

.artistaDetalleLista li a {
  color: black;
  font-size: 18px;
}

.detalleGeneroMain h1,
.detalleArtistaMain h1{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 25px;
  padding-top: 50px;
  margin-bottom: 0;
  color: rgb(0, 0, 0);

}
.detalleGeneroMain h2 {
  font-family: 'Poppins', sans-serif;
}
.generoDetalleNombre {
  text-align: center;
  font-size: 38px;
  margin-top: 0;
}

.generoArtistas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.generoArtistas li {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 15vw;
  height: 30vh;
  border-radius: 2px;
  background-color: white;
  font-family: 'PT Sans', sans-serif;
  box-shadow: 0 4px 8px 0 rgba(255, 0, 123, 0.289), 0 6px 20px 0 rgba(255, 0, 89, 0.317);
}

.topAlbumnes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  margin-top: 55px;
  padding-top: 30px;
}

.nombreArtista {
  font-family: 'Poppins', sans-serif;
  ;
  font-size: 35px;
}

.contenedor-detalle-albumes {
  display: flex;
  flex-direction: column;
}

.detalleAlbum {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-image: linear-gradient(to right, rgba(238, 169, 253, 0.808), rgba(255, 0, 0, 0.593), rgba(255, 42, 184, 0.654));
  box-shadow: 0 4px 8px 0 rgba(255, 166, 0, 0.289), 0 6px 20px 0 rgba(255, 0, 89, 0.317);
  border-radius: 2px;
  margin: 20px;
  font-family: 'PT Sans', sans-serif;
}

.mainDetalleAlbum h1 {
  text-align: center;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
}

.nombre-foto-albumDetalle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.album-canciones h3 {
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
}

.listaCancionesAlbum li {
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
}

.listaCancionesAlbum li a {
  color: black;
}

#lista li {
  display: flex;
  flex-direction: column;
  margin: 40px;
  padding: 20px;
  background-color: rgb(215, 215, 215);
  box-shadow: 0 4px 8px 0 rgba(32, 32, 32, 0.289), 0 6px 20px 0 rgba(44, 44, 44, 0.317);
  border-radius: 4px;

}

#lista li a {
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  color: black;
}

#lista li h3 {
  font-family: 'Poppins', sans-serif;
}

.canciones-d #fav {
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  width: 100px;
  height: 80px;
  background-color: lightyellow;
  border: none;
}

.canciones-d section a {
  cursor: pointer;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: black;
  margin-top: 20px;
  text-align: center;
}

.canciones-d section {
  display: flex;
  flex-direction: row;
}

.canciones-d section div {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.canciones-d h1 {
  font-family: 'Poppins', sans-serif;
  ;
  font-size: 40px;
}

.canciones-d h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 10px;
}

.canciones-d section {
  background-color: #fbc0e1;
}


/* STOP OVERFLOW EN h3 TITULOS */
h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* MODO OSCURO */
.dark-mode {
  background-color: #333;
  color: rgb(255, 0, 140);
}

.dark-mode li a {
  color: rgb(212, 212, 212);
}

.dark-mode2 {
  background-image: linear-gradient(to right, rgba(72, 50, 77, 0.808), rgba(91, 45, 45, 0.593), rgba(255, 42, 184, 0.654));
}

.dark-mode2 li a {
  color: rgb(244, 220, 242);
}

.dark-mode3 li a {
  color: black;
}

.dark-mode3 li {
  background-color: rgba(255, 0, 149, 0.629);
}

#mode-toggle {
  color: rgb(227, 1, 84);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  width: 160px;
}

#lista {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-image: linear-gradient(to right, rgba(238, 169, 253, 0.808), rgba(255, 0, 0, 0.593), rgba(255, 42, 184, 0.654));

}

/* Media Queris */
@media (max-width: 450px) {

  /* HEADER */
  body {
    width: 450px;
  }

  header .logo img {
    width: 50px;
    height: 50px;
  }

  header {
    flex-direction: column;
  }

  header nav ul {
    display: flex;
    width: fit-content;

  }

  #mode-toggle {
    background-color: #fbc0e1;
    font-size: 10px;
    width: fit-content;

  }

  #search-input,
  .buscarBoton {
    width: fit-content;
  }

  header {
    flex-direction: column;
  }

  /* paginas */
  .inicio section ul,
  .contenedor-generos ul,
  .generoArtistas {
    flex-direction: column;
    align-content: center;
  }

  .inicio section li,
  .contenedor-generos li,
  .generoArtistas li {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    width: auto;
    text-overflow: ellipsis;
  }

  .contenedor-generos li {
    margin: -24px;
  }

  .generoArtistas li {
    width: 200px;
    height: 70px;
    margin: 2px;
  }

  .inicio section li img {
    width: 200px;
    height: 200px;
  }

  .contenedor-generos img,
  .generoArtistas li img,
  .detalleArtistaMain img,
  .detalleAlbum img {
    display: none;
  }

  .detalleArtista,
  .detalleAlbum {
    flex-direction: column;
    width: 300px;
  }

}